<div class="load-button-container">
<button *ngIf="!enableRefresh" data-action="load" (click)="loadData()">Load Data</button>
<button *ngIf="enableRefresh" data-action="refresh">Refresh Data</button>
</div>
<table *ngIf="showTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Role</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersData; let i = index" [class.edit-mode]="isEditEnabled[i]">
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.fn"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.mn"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.ln"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.email"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.phone"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.Role"></td>
      <td><input type="text" [disabled]="!isEditEnabled[i]" [(ngModel)]="user.place"></td>
      <td>
        <div class="load-button-container">
        <button *ngIf="!isEditEnabled[i]" data-action="edit" (click)="editUser(i)">Edit</button>
        </div>
        <button *ngIf="isEditEnabled[i]" data-action="save" (click)="saveUser(i)">Save</button>
        <button *ngIf="isEditEnabled[i]" data-action="cancel" (click)="cancelEdit(i)">Cancel</button>
        <div class="load-button-container">
        <button data-action="delete" (click)="deleteUser(user.id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
